.utility-desktop{
	display: none;
	@include media-breakpoint-up(md) { 
		display: block;
		background: rgba($brand-primary, 0.95);
	}

	ul{
		list-style: none;
		float: right;
		margin: 0;
		li{
			display: inline;
			a{
				display: inline-block;
				padding: 10px;
				color: #fff;
				transition: padding 0.3s;
				@include media-breakpoint-up(md) {
					font-size:14px;
				}

			}

		}


	}
}

.riddle-count {
	padding: 5px;
	display: inline-block;
	p {
		text-transform: none;
		margin: 0;
		color: white;
		font-style: italic;
	}
}

header{
	padding: 15px;
}

.branding{

	h1{
		margin: 0;
	}
}

.nav-mobile{
	float: right;
	margin-left: auto;
	margin-right: 40px;
	margin-top: 28px;
	@include media-breakpoint-up(md) { 
		display: none;
	}	
}

.mobile-menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($brand-primary, 0.95);
	z-index: 97;

	>div{
		max-width: 400px;
		max-height: 80%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul{
			list-style: none;
			padding: 20px;
			margin: 0;
			li{
				line-height: 1.8;
				padding: 0 30px 0 10px;
				a{
					display: block;
					color: #fff;
					font-size: 22px;
					transition: padding 0.3s;
					border-bottom: 1px solid #fff;
				}
			}
		
			&.sub-menu{
				display: none;
			}
		}
	}

}



#mobile-menu{
	margin-top:0;
	width: 30px;
	height: 18px;
	position: relative;
	padding: 17px 0;
	transform: rotate(0deg);
	transition: 0.3s ease-in-out;
	cursor: pointer;
	z-index: 99;
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: white;
		border-radius: 0;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;

		&:nth-child(1) {
			top: 8px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 16px;
		}

		&:nth-child(4) {
			top: 24px;
		}

	}
	&.open span{
		background: #fff;

		&:nth-child(1) {
			top: 8px;
			width: 0%;
			left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}
#menu {
	>.row {
		height: 100%;
	}
	.nav-desktop{
		display: none;
		.site-search {
			margin-left: auto;
			position: relative;
			padding: 0;
			display: flex;
			align-items: center;
			top: 0;
			i {
				cursor: pointer;
			}
			#search-form {
				position: absolute;
				right: 0;
				top: 30px;
				width: 0;
				transition: width .2s ease-out;
				&.open {
					width: 190px;
					transition: width .2s ease-out;
					.search-submit {
						display: inline-block;
					}
				}
				form {
					position: relative;
					label {
						margin: 0;
					}
				}
				.search-field {
					padding: 10px;
					outline: 0;
					border: 0;
					border-radius: 3px;
				}
				.search-submit {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					background: white;
					color: $brand-primary;
					border: 0;
					outline: 0;
					font-size: 16px;
					border-radius: 3px;
					display: none;
				}
			}
		}
		@include media-breakpoint-up(md) { 
			display: flex;
			width: 100%;
		}

		ul{
			list-style: none;
		    width: 100%;
			text-align: left;

			.search {
				float: right;
			}

			li{
				display: inline;
				&:hover {
					a {
						color: white;
						transition: color .2s ease-in;
					}
				}
				a{
					display: inline-block;
					margin: 0 20px;
					color: $gray;
					transition: all 0.3s ease;
					@include media-breakpoint-up(md) {
						font-size: 14px;
					}

				}

			}
		}

		.sub-menu{
			display: none;
		}

	}
}
